<h1>Anime List</h1>
<ol>
  <% @animes.each do |anime| %>
  <h3>
    <%= link_to anime.title, anime %>
  </h3>
  <p>animated by <%= link_to anime.studio.studio_name, studio_path(anime.studio) %></p>
  <% end %>
</ol>


