<h1 class="title is-1 has-text-centered" >About Page</h1>
<p>The Dataset that i used is a list of the top 250 anime with highest scores.
The data set contains a title, studio, duration, start date, end date, and also members column.
I will need a total of 4 tables, an animes table, studios table, genre table and anime_genre table to join the many to many relationship between anime and genre tables.
This dataset came from Kaggle.com.
 </p>

 <img src="/assets/introProjectERD.jpg" alt="ERD image">
