<header class="navbar">
  <div class="nav-bar-menu">
    <div class="navbar-start">
      <% if controller_name != 'home' %>
        <a class="navbar-item"><%= link_to "Home", root_path %></a>
      <% end %>
      <% if controller_name != 'animes' %>
        <a class="navbar-item"><%= link_to "Animes", animes_path %></a>
      <% end %>
      <% if controller_name != 'studios' %>
        <a class="navbar-item"><%= link_to "Studios", studios_path %></a>
      <% end %>
      <% if controller_name != 'about' %>
      <a class="navbar-item"><%= link_to "About", about_index_path %></a>
      <% end %>
    </div>
  </div>
</header>