<header class="navbar">
  <div class="nav-bar-menu">
    <ul class="navbar-start">
      <% if controller_name != 'home' %>
        <li class="navbar-item has-text-weight-bold"><%= link_to "Home", root_path %></li>
      <% end %>
      <% if controller_name != 'animes' %>
        <li class="navbar-item has-text-weight-bold"><%= link_to "Animes", animes_path %></li>
      <% end %>
      <% if controller_name != 'studios' %>
        <li class="navbar-item has-text-weight-bold"><%= link_to "Studios", studios_path %></li>
      <% end %>
      <% if controller_name != 'about' %>
        <li class="navbar-item has-text-weight-bold"><%= link_to "About", about_index_path %></li>
      <% end %>
    </ul>
  </div>
</header>