<header class="navbar">
  <nav class="subtitle">
    <ul class="columns">
      <li class="column"><%= link_to "Home", root_path %></li>
      <li class="column"><%= link_to "Animes", animes_path %></li>
      <li class="column"><%= link_to "Studios", studios_path %></li>
    </ul>
  </nav>
</header>